$title-font: "Roboto", sans-serif;
$body-font: "Lora", serif;

$primary-color: #5b4fef;
$secondary-color: #48af68;
$tertiary-color: #60f3ab;
$dark-color: #040505;
$light-color: #f4f7fb;
$white-color: #ffffff;
